@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular/CircularStd-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
src: url('../fonts/circular/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: 
        url('../fonts/circular/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: 
        url('../fonts/circular/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
