
/* Resume */
section {
    margin-bottom: 80px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 12px;
    color:black;
}


.experience {
    margin-bottom: 32px;
}

.section_title {
    flex: auto;
    padding: 16px 4px;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    border-bottom: 1px solid black;
    color: black;
    margin-bottom: 24px;
}


/* resume */ 



h4 {
    font-family: 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.experience_role {
    color:var(--color-blue);
}

.date{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Space Mono', monospace;
    color: black;
}



.skill {
    margin-bottom: 24px;
}


.skill_tags {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill h2 {
    color: black;;
    margin-bottom: 16px;
}

.tag {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    padding: 6px 16px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0px 16px 16px 0;
    color: black;
    background-color: white;
}


section div p {
    color:#BBBBBB;
}


/* projects */

#projects {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0 48px 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.project_title {
    color:black;
}

.project_tags {
    display: flex;
    flex-wrap: wrap;
}


.project_company {
    margin-bottom: 16px;
}


.empty {
    height:88px;
}

