@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --color-highlight: #d9ff6f;
  --color-coral: #ff654c;
  --color-skyblue: #4aa3ff;
  --color-mint: #8fffe4;
  --color-purple: #7203ff;
  --color-softpink: #f9b2ff;
  --color-blue: #68cfff;
  --color-blue-contrast: #8cd4ff;
  --color-lightgray: #eff1f5;
  --color-navy: #16324e;
  --color-darkpurple: #26252d;
  --color-darkgrey: #1b1c1d;
  --color-dustylilac: #a37dff;
}

html,
body {
  min-height: 100%;
}

img {
  border: none;
}

.highlight {
  color: var(--color-highlight);
}

body,
div,
h1,
h2,
h3,
h4,
p,
span,
ul,
li,
p,
button,
a,
img {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Circular", -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 44px;
  font-weight: 500;
}

.title {
  font-family: "Space Mono", monospace;
  color: #727272;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.left {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  overflow: scroll;
}

.left_top {
  padding: 56px 80px;
  background-color: white;
  border: 1px solid black;
}

.left_bottom {
  padding: 48px 80px 80px 80px;
  background-color: white;
  border: 1px solid black;
  background-color: var(--color-softpink);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 5fr;
  box-sizing: border-box;
}

.right_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
}

.right_bottom {
  /*padding: 64px 80px;*/
  overflow: scroll;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: black;
  background-color: var(--color-lightgray);
  border: 1px solid black;
}

.right_bottom::-webkit-scrollbar {
  display: none;
}

/* Left Fixed Area: Intro */

.name {
  font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: black;
  display: block;
}

.description {
  font-size: 18px;
  color: white;
  line-height: 1.8;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 48px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  background-color: transparent;
  color: black;
}

.bttn_projects {
  border-right: 2px solid black;
}

.bttn_projects:hover {
  text-decoration: underline;
}

.bttn_resume:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.links svg {
  margin-right: 16px;
  cursor: pointer;
}

.dribbble path,
.github path,
.linkedin path {
  fill: white;
}

#github:hover > .github path {
  fill: var(--color-darkgrey);
}

#linkedin:hover > .linkedin path {
  fill: var(--color-darkgrey);
}

#dribbble:hover > .dribbble path {
  fill: var(--color-darkgrey);
}

.copyrights {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  color: var(--color-lightgray);
}

.intro_bottom {
  margin-top: auto;
  padding: 8px;
}

/* Responsive 대응*/

@media screen and (max-width: 560px) {
  .wrapper {
    flex-direction: column;
  }
  .left_bottom {
    display: none;
  }
  body {
    height: 100vh;
  }
  .name {
    font-size: 28px;
    height: auto;
  }
  .left {
    flex: none;
    display: block;
    height: auto;
  }
  .left_top,
  .left_bottom,
  button {
    padding: 24px 32px;
  }

  button {
    font-size: 18px;
  }
  .right_top {
    justify-content: space-around;
    /*background-color: var(--color-darkgrey);*/
  }
  .right {
    flex: 5;
    grid-template-rows: 1fr 8fr;
    overflow: scroll;
    border-left: none;
  }
}
